.affiliation_logos {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 14px;
  margin: 6px 0 18px 0;
}

.affiliation_logos a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 6px 10px;
  // border: 1px solid rgba(0, 0, 0, 0.12);
  // border-radius: 12px;
  text-decoration: none;
}

.affiliation_logos img {
  height: clamp(45px, 7vw, 70px);
  width: auto;
  // display: block;
  // filter: grayscale(100%);
  opacity: 0.85;
}

.affiliation_logos img.work {
  height: clamp(39px, 6vw, 60px);
  width: auto;
  // display: block;
  // filter: grayscale(100%);
  opacity: 0.85;
}

.affiliation_logos a:hover img {
  filter: none;
  opacity: 1;
}

.affiliation_logos .flex-break{
  flex-basis: 100%;
  height: 0;
}

// /* =========================
//    Light or Dark logo switch
//    ========================= */

// /* 默认只显示浅色版本 */
// .affiliation_logos img.only-dark { display: none; }
// .affiliation_logos img.only-light { display: block; }

// /* 系统深色模式下只显示深色版本 */
// @media (prefers-color-scheme: dark) {
//   .affiliation_logos img.only-dark { display: block; }
//   .affiliation_logos img.only-light { display: none; }
// }

// @media (prefers-color-scheme: dark) {
//   .affiliation_logos a {
//     border-color: rgba(255, 255, 255, 0.18);
//   }
// }
